@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



.wrap {
    width: 100%;
    background-image: url('../img/bg.png');
    background-size: cover;
}

.container {
    max-width: 1400px;
}

.navbar {
    padding-top: 40px;
}

.navbar-brand {
    font-family: "OpenSans";
    font-size: 50px;
    font-weight: bold;
    color: #1c2056!important;
}

.navbar-brand > span {
    color: rgb(40, 112, 219);
}

.nav-link {
    padding: 5px 35px;
    font-size: 18px;
    color: #fff!important;
    margin-right: 5px;
}

.nav-link > span {
    padding: 5px 35px;
}

.nav-link:hover {
    padding:5px 35px;
    border-radius: 15px;
    background-color: #fff;
    color: #1c2056!important;
}

.header-info-wrap {
    margin-top: 140px;
    margin-left: 115px;
    width: 360px;
}

.info-header-text {
    line-height: 1.2;
    font-size: 50px;
    font-family: "OpenSans";
    color: rgb(28, 32, 86);
    font-weight: bold;
}

.info-text {
    margin-top: 65px;
    line-height: 2;
    font-size: 18px;
    font-weight: bold;
    font-family: "OpenSans";
    color: rgba(45, 32, 88, 0.651);     
}

.info-button {
    margin-top: 70px;
    color: #fff;
    padding: 20px 55px;
    border-radius: 50px;
    border:none;
    background-color: #2870db;
}

.info-button:hover {
    background-color: #1c2056;
}

.go-hiking-header-text {
    margin-top: 470px;
    font-size: 36px;
    font-family: "OpenSans";
    color: rgb(38, 50, 56);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.go-hiking-wrap {
    width: 550px;
    height: 350px;
    background-color: rgb(214, 213, 211);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.go-hiking-cont-text {
    font-size: 24px;
    font-family: "OpenSans";
    color: rgb(38, 50, 56);
    font-weight: bold;
    line-height: 1.2;
}

@media (max-width: 1200px) {
    .nav-link {
        padding: 5px 20px;
    }
    
    .nav-link > span {
        padding: 5px 20px;
    }
    
    .nav-link:hover {
        padding:5px 20px;
    }
}

  
  